.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(219, 219, 219, 0.719);
  color: white;
  text-align: center;
}

/*
  What's the purpose of using a CSS class? Read here: https://www.w3schools.com/html/html_classes.asp

  Keeping that in mind, how can we refactor .center1, .center2, .center3? How can we make our code more D.R.Y.?

  https://en.wikipedia.org/wiki/Don%27t_repeat_yourself
*/
.center1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p {
  color: black;
}
